<!-- Youtube vidoe used : https://www.youtube.com/watch?v=gyXSKhjZfgU -->
<!DOCTYPE html>
<html>
<head>
    <title> Home Page </title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<header class="paddingleft">
</header>
<div class="body-inventory">
    <div *ngIf="!updateInfo">
        <li class="info" *ngFor="let accounts of accounts">
            <div class="info-msg">
                <div class="info-msg-text">Item Name: {{account.ItemName}}</div>
                <div class="info-msg-text">Id: {{account.Id}}</div>
                <div class="info-msg-text">About: {{account.About}}</div>
                <div class="info-msg-text">Remaining: {{account.Remaining}}</div>
            </div>
            <div class="info-btns-container">
                <button class="info-btn" (click)="deleteBtn(account.Id)">Delete Item</button>
                <button class="info-btn" (click)="deleteBtn(account.Id)">Update Info</button>
                <a href="details-admin.html" button class="info-btn" (click)="detailsBtn(account.Id)">Item Details</button></a>
            </div>
        </li>
    </div>
<div class="form" *ngIf="updateInfo">
    <div class="header-inventory">
        UPDATE INFO
    </div>
    <div class="input">
        <div class="idErr" *ngIf="emptyField">
            <div class="idErr-msg">
                No Empty Fields
            </div>
        </div>
        <div class="input-field">
            <div class="header">Id</div>
            <input class="input" value="{{Id}}" [(ngModel)]="Id" name="Id" type="text">
        </div>
        <div class="input-field">
            <div class="header">Item Name</div>
            <input class="input" value="{{itemName}}" [(ngModel)]="itemName" name="itemName" type="text">
        </div>
        <div class="input-field">
            <div class="header">About</div>
            <input class="input" value="{{about}}" [(ngModel)]="about" name="about" type="text">
        </div>
        <div class="input-field">
            <div class="header">Remaining</div>
            <input class="input" value="{{remaining}}" [(ngModel)]="remaining" name="remaining" type="text">
        </div>
    </div>
    <div class="update-acc">
        <button class="update-acc-btn" (click)="submitBtn()">Submit</button>
    </div>
</div>
</div>
</div>
<footer>
    &copy; CLOSET MACHINE
</footer>
</html>