<!DOCTYPE html>
<html>
<head>
  <title>Update Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://i.ibb.co/mvPwcjk/Untitled-design-removebg-preview-1.png">
<link rel="stylesheet" href="style.css">

</head>
<body>
 
<!-- <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="index.html">Home</a>
    <a href="updatedaboutme.html">About Me</a>

    <a href="contactmepage.html">Contact Me</a>
    <a href="projectspage.html">Projects</a>
  </div>
</div> -->
 
<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}
 
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
 
</script>
<div class="header">
 
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
    <div class="inner-header flex">
      <h1 style="font-size:125px;">Tech Vend </h1>
    </div>
   
    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
   
    </div>
    <div class="body-inventory">
      <div *ngIf="!updateInfo">
          <li class="info" *ngFor="let accounts of accounts">
              <div class="info-msg">
                  <div class="info-msg-text">Item Name: {{account.ItemName}}</div>
                  <div class="info-msg-text">Id: {{account.Id}}</div>
                  <div class="info-msg-text">About: {{account.About}}</div>
                  <div class="info-msg-text">Remaining: {{account.Remaining}}</div>
              </div>
              <div class="info-btns-container">
                  <button class="info-btn" (click)="deleteBtn(account.Id)">Delete Item</button>
                  <button class="info-btn" (click)="deleteBtn(account.Id)">Update Info</button>
                  <a href="details-admin.html" button class="info-btn" (click)="detailsBtn(account.Id)">Item Details</button></a>
              </div>
          </li>
      </div>
  <div class="form" *ngIf="updateInfo">
      <div class="header-inventory">
          UPDATE INFO
      </div>
      <div class="input">
          <div class="idErr" *ngIf="emptyField">
              <div class="idErr-msg">
                  No Empty Fields
              </div>
          </div>
          <div class="input-field">
              <div class="header">Id</div>
              <input class="input" value="{{Id}}" [(ngModel)]="Id" name="Id" type="text">
          </div>
          <div class="input-field">
              <div class="header">Item Name</div>
              <input class="input" value="{{itemName}}" [(ngModel)]="itemName" name="itemName" type="text">
          </div>
          <div class="input-field">
              <div class="header">About</div>
              <input class="input" value="{{about}}" [(ngModel)]="about" name="about" type="text">
          </div>
          <div class="input-field">
              <div class="header">Remaining</div>
              <input class="input" value="{{remaining}}" [(ngModel)]="remaining" name="remaining" type="text">
          </div>
      </div>
      <div class="update-acc">
          <button class="update-acc-btn" (click)="submitBtn()">Submit</button>
      </div>
  </div>
  </div>
  </div>
    <div class="content flex">
     
    </div> 
            
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
 
     
     <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#5521ff88">

      </stop>
      <stop offset="95%" stop-color="#004aad88">

      </stop></linearGradient>
    </defs>

    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#5521ffff"></stop><stop offset="95%" stop-color="#004aadff">

      </stop>
    </linearGradient>
  </defs>
  
</svg>
</body>
</html>
